/*!
 * CSS - static
 * Version - 1.0.0
 * Modify By Liu Zhi Hui
 * Date: 17-10-2013 09:52:48 (GMT Time)
 */
.error{width:1000px; margin:50px auto 0; min-height:500px; height:auto !important; height:500px; _overflow:visible}
.error .lf1{width:300px; float:left}
.error .lf{width:360px; height:500px;background:url(../img/money_bag.png) no-repeat right top; margin-right:56px; float:left}
.error .rt{ width:auto; padding-top:40px; float:left}
.error p{ padding-bottom:35px; font-size:14px; line-height:26px; color:#475058}
.error p.ft20{ font-size:20px}
.error span.ft30{ color:#fc8026; font-size:30px; margin-right:10px; font-family:Tahoma, Geneva, sans-serif}
.error p.line{ margin-bottom:35px; background:url(../img/2x1.png) repeat-x bottom left}
.error .rt a{ padding:3px 15px; margin:0 15px; display:inline-table; line-height:24px}
.error a.mg{ margin-left:0}
.error a.ebtn{color:#fff; font-size:14px; background:#15456f; cursor:pointer; border-radius:3px}
.error a.ebtn:hover{ background:#1a588e; text-decoration:none; color:#fff}